extends ./base
include ../mixins/pill

block content
  article.max-w-sm.w-full.mx-auto.mt-6.px-6
    if title
      h1.mb-8 #{title}
    if date
      .text-gray-600.font-sans.text-sm.mb-2
        time #{helpers.formatDate(date)}
    if description
      p.mb-8
        em.font-sans.font-light #{description}
    #content !{content}
  if tags
    .mx-auto.max-w-sm.mt-8.px-6
      each tag in tags
        +pill(tag).bg-gray-300
  if site.githubRepo && comments
    hr.mx-auto.max-w-sm
    if comments
      section#comments.mx-auto.max-w-xs.px-4(data-repo=site.githubRepo)
