include ./image
include ./pill
include ./icon

mixin responsive_card({ title, body, href, image, category, tags }, responsive=true, reverse=false)
  - var isAbsoluteHref = helpers.isAbsoluteUrl(href)
  a.block.underline-h5-title.relative(
    href=href,
    class!=attributes.class,
    class=responsive && "md_flex",
    class=reverse && "flex-row-reverse",
    target=isAbsoluteHref && "_blank",
    rel=isAbsoluteHref && "noopener noreferrer"
  )
    if image
      div(class=responsive && "md_w-1-2 md_flex-shrink-0")
        +image(...image).rounded-t-lg.h-full.w-auto(
          class=responsive && (reverse ? "md_rounded-r-lg md_rounded-l-none" : "md_rounded-l-lg md_rounded-r-none")
        )
    .flex.flex-col.p-4.border-solid.border-r.border-b.border-l.border-gray-400.rounded-b-lg.w-full(
      class=!image && "border-t rounded-l-lg rounded-t-lg",
      class=responsive && "md_border-t",
      class=image && responsive && (reverse ? "md_rounded-br-none" : "md_rounded-bl-none"),
      class=responsive && (reverse ? "md_rounded-l-lg" : "md_rounded-r-lg")
    )
      .flex-1
        h5.block.leading-tight.font-semibold.text-gray-900.mb-2 #{title}
        p.text-gray-600 #{body}
      if tags
        .mt-6
          if category
            +pill(category).uppercase(class=helpers.getCategoryBgColor(category))
          each tag in tags
            +pill(tag).bg-gray-300
    if isAbsoluteHref
      .absolute.top-0.right-0.m-3.text-gray-700
        +icon('external-link')

mixin vertical_card({ title, body, href, image, category, tags }, flat=false)
  - var isAbsoluteHref = helpers.isAbsoluteUrl(href)
  a.block.rounded-md.overflow-hidden.border-solid.border.border-gray-300.relative.underline-h5-title(
    href=href,
    class!=attributes.class,
    class=!flat && "card-layer shadow-md hover_shadow-xl",
    target=isAbsoluteHref && "_blank",
    rel=isAbsoluteHref && "noopener noreferrer"
  )
    if image
      +image(...image).w-full
    .px-6.flex.flex-col.min-h-full(class=image ? "py-4" : "py-6")
      .flex-1
        h5.text-gray-900.leading-tight.mb-2 #{title}
        if body
          p.text-gray-700 #{body}
      if category || tags
        .mt-6
          if category
            +pill(category).uppercase(class=helpers.getCategoryBgColor(category))
          if tags
            each tag in tags
              +pill(tag).bg-gray-300
    if isAbsoluteHref
      .absolute.top-0.right-0.m-3.text-gray-700
        +icon('external-link')

mixin overlap_card({ title, body, href, image, category, tags })
  - var isAbsoluteHref = helpers.isAbsoluteUrl(href)
  a.overlap-card.card-layer.block.overflow-hidden.relative.shadow-md.hover_shadow-xl.rounded-md.border-solid.border.border-gray-300.underline-h5-title(
    href=href,
    class!=attributes.class,
    target=isAbsoluteHref && "_blank",
    rel=isAbsoluteHref && "noopener noreferrer"
  )
    if image
      .absolute.inset-0.w-full.h-full.overflow-hidden.flex.items-center.justify-center.rounded-md.z-behind
        +image(...image).object-cover.object-center.overlap-card__image
    .flex.flex-col.min-h-full.p-8
      .flex-1
        h5.leading-tight.mb-2(class=image ? "text-white" : "text-gray-900") #{title}
        if body
          p(class=image ? "text-gray-100" : "text-gray-600") #{body}
      if category || tags
        .mt-6
          if category
            +pill(category).uppercase(class=helpers.getCategoryBgColor(category))
          if tags
            each tag in tags
              +pill(tag).bg-gray-300
    if isAbsoluteHref
      .absolute.top-0.right-0.m-3(class=image ? "text-white" : "text-gray-700")
        +icon('external-link')
