extends ../includes/layouts/base
include ../includes/mixins/pill
include ../includes/mixins/icon

block prepend title
  - var title = "archive"

block content
  section.max-w-xs.w-full.mx-auto.px-6.mt-4
    - var projects = external.projects.map((j) => Object.assign({}, j, { category: "project" }))
    - var slides = external.slides.map((j) => Object.assign({}, j, { category: "deck" }))
    - var mapPosts = (p) => ({ url: p.url, title: p.data.title, date: p.date, description: p.data.description, tags: p.data.tags, category: "post" })
    - var posts = collections.archive.filter(helpers.postsFilter).map(mapPosts)
    - var archive = posts.concat(projects).concat(slides).sort(helpers.sortByDate)
    each item, index in archive
      - var isAbsoluteHref = helpers.isAbsoluteUrl(item.url)
      div
        a.inline-flex.items-center.mb-2(href=item.url)
          h5.font-serif.mb-0.mr-3 #{item.title}
          if isAbsoluteHref
            div
              +icon('external-link')
        if item.date
          .text-gray-600.text-xs
            time #{helpers.formatDate(item.date)}
        if item.description
          p.m-0.text-gray-800.font-light #{item.description}
        if item.tags || item.category
          .mt-4
            if item.category
              +pill(item.category).uppercase(
                class=helpers.getCategoryBgColor(item.category)
              )
            if item.tags
              each tag in item.tags
                +pill(tag).bg-gray-300
      if index !== archive.length - 1
        hr.mb-8.mt-6
